doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="/css/main.css")
    title= title
  body
    .container
      h1= title
      block content
      footer 
        small © tm 2014
