extends _layout

block content
  h2 Admin groups

  if groups.length
    ul
      each group in groups
        li #{group.name} #[a(href="/admin/groups/#{group._id}?_method=DELETE") delete]

  form(action="/admin/groups" method="post")
    fieldset
      legend Create new group
      label(for="name") Name
        input(type="text" name="name" id="name" required)
      label(for="description") Description
        textarea(name="description" id="description" required)
    button(type="submit") Create
  p
    a(href="/") homepage
