extend _layout

block content
  h2 Queues

  if queues.length
    h3 All queues
    ul
      each queue in queues
        li #{queue.name} 
          form(action="/queues/#{queue._id}" method="post")
            label(for="pseudo") pseudo
              input(type="text" name="pseudo" required)
            button(type="submit") join
  else
    p Pas encore de files…

  p
    a(href="/") back
